# Crate location
# scondam: 21-Aug-2017: Initialize the crate location from substitutions file.
#                       Save restore slotloc from RDB.

record(stringin, "$(P):LOC") {
  field(PINI, "YES")
  field(VAL, "$(slotloc)")
#  info(autosaveFields,"VAL")
}

